upstream {{SERVICE_NAME}} {
{{#NODES}}
    server {{HOST}}:{{PORT}};
{{/NODES}}
}

map $args ${{SERVICE_NAME_UNDERSCORE}}_host {
{{#NODES}}
    ~(.*)nodeId={{NODE_ID}}(.*) {{HOST}}:{{PORT}};
{{/NODES}}
}

{{#SERVER_CONFIG}}
# This part of config is relevant only for Marathon API resolver.
server {
    listen 0.0.0.0:80;
    server_name {{SERVER_NAME}};

    location / {
        proxy_pass http://{{SERVICE_NAME}};
    }
}
{{/SERVER_CONFIG}}